<img class="historyimagebron" src='https://static01.nyt.com/images/2018/06/08/sports/lebron-promo/lebron-promo-articleLarge.gif'
  alt="">



<h1 class="momntHistory">Add a Moment In History</h1>
<div class="marginShifthistory">
  <form action="/goats/{{goat._id}}/history" method="POST">

    <div class="momntHistory2">
      <label for="title">Notable Moment</label>
      <input type="text" name="notableGm" placeholder="Enter Accolade" />
    </div>
    <button class="buttonTemplate" type="submit">Add Notable Moment</button>
  </form>
</div>