<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

  <script src="/javascripts/displaychng.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>


<body>
  <marquee class="sorryJamie" behavior="scroll" direction="left">All-Time Scoring List: Michael Jordan (25000 pts), Bill Russel (15000 pts), Kobe Bryant(55000 pts), Magic Johnson(35000
    pts), Larry Bird(120000 pts), Wilt Chamberlin (775000 pts) </marquee>








  <header>

    <h1 class="swishtitle">M O U N T


      <a href="/goats">
        <img class="trophyBanner" src="https://media.giphy.com/media/1wPB1k3H2IhUfnEB81/giphy.gif" alt="">
      </a>


      S W I S H M O R E </h1>



    <h3 class="subtitle">To Elevate You Must Be Great</h3>

  </header>
  {{{body}}}
  <footer>
    <div class="teamlogoFlexParent">

      <div class="teamlogobulls"></div>

      <div class="teamlogolakers"></div>

      <div class="teamlogoceltics"></div>

      <div class="teamlogospurs"></div>

      <div class="teamlogorockets"></div>

      <div class="teamlogknicks"></div>

      <div class="teamlogosixers"></div>

      <div class="teamlogohawks"></div>

      <div class="teamlogospacejam"></div>











    </div>
  </footer>
</body>

</html>