<h1 class="calegend"> Create New Legend</h1>


<div class="newstyle">
  <img class="ringAlterLeft" src="https://i.cdn.turner.com/drp/nba/lakers/sites/default/files/2010-left.png" alt="">

  <img class="createPlayer" src="http://forums.nba-live.com/dl_mod/thumbs/9036_PG13V1.gif" alt="">


  <img class="ringalterRight" src="https://i.cdn.turner.com/drp/nba/lakers/sites/default/files/2010-right.png">

</div>



<form class="formStart" action="/goats" method="POST">
<br>
<br>
<br>
  <div class="flexboxMove">
    <div>
      <label class="label" for="title">Name: </label>
      <input type="text" name="name" placeholder="Name" />
    </div>
    <br>
    <div>
      <label class="label" for="description">Team: </label>
      <input type="text" name="team" placeholder="Franchised Team" />
    </div>
    <br>
  </div>
  
  <div class="flexboxMove">
    <div class="fxmove">
      <label class="label" for="subject">YearsNLeague: </label>
      <input type="text" name="yearsPlayed" placeholder="Overall Years in League" />
    </div>
    <div class="fxmove2">
      <label for="createdBy">Championships: </label>
      <input type="text" name="rings" placeholder="How Many Rings ??" />
    </div>
    <div class="fxmove3">
      <label class="label" for="dueDate">Image URL:</label>
      <input type="text" name="image" placeholder="Must Enter URL PIC" />
      <br>
      <label class="label" for="dueDate">Profile URL:</label>
      <input type="text" name="image2" placeholder="Must Enter PROFILE URL PIC" />
    </div>
  </div>


  <button class="buttonTemplate" type="submit">Create G.O.A.T.</button>
</form>